/* Base mobile style*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(14, 0, 0);
}

h1 {
    display: flex;
    color: rgb(9, 116, 5);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 34px;
    padding-right: 34px;
    text-align: center;
}

body {
    background-color: powderblue;
}

section {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 34px;
    text-align: center;
}

#About {
    font-style: italic;
    text-align: justify;
    margin-left: 34px;
    margin-right: 15px;
    padding: 20px;
    background-color: #40a2f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(245, 6, 6, 0.1);
}

#Experience {

    font-style: italic;
    text-align: left;
    margin-left: 34px;
    margin-right: 15px;
    padding: 20px;
    background-color: #40a2f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(245, 6, 6, 0.1);
}

#Experience .job {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 15px;
}

#Experience .job-title {
    font-weight: bold;
    color: darkblue;
}

#Experience .job-description {
    margin-top: 5px;
    font-style: normal;
    text-align: justify;
    color: rgb(10, 0, 32);
}

#Experience .job-dates {
    margin-top: 5px;
    margin-left: 34px;
    font-style: normal;
    font-weight: bold;
    color: rgb(10, 0, 32);
}

#Skills {
    text-align: justify;
    margin-left: 34px;
    margin-right: 15px;
    padding: 20px;
    background-color: #40a2f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(245, 6, 6, 0.1);
}

#Projects {
    font-style: italic;
    text-align: justify;
    margin-left: 34px;
    margin-right: 15px;
    padding: 20px;
    background-color: #40a2f1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(245, 6, 6, 0.1);
}

#Connect {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-left: 34px;
    margin-right: 15px;
    padding: 10px;
    background-color: #6c6ef7;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img.icon {
    width: 40px;
}

ul {
    list-style: none;
    padding: 0;
    background-color: bisque;
}

img.photo {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #40a1f1f3;
    padding: 10px;
    margin-left: 34px;
    margin-right: 15px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav .button-group {
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    color: #070707;
    background-color: #ecebf8;
}


/* Tablet vertion*/
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 4em;
        color: #005f99;
    }

    img.photo {
        width: 300px;
    }

    img.icon {
        width: 80px;
    }

    ul {
        padding: 10px;
        background-color: #ffe4b2;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        padding: 15px;
    }

    nav a {
        font-size: 1em;
        background-color: #005f99;
    }

    #About p,
    #Experience p,
    #Experience .job-dates,
    #Experience .job-title,
    #Projects p,
    #Skills p {
        font-size: 1.5em;
    }

}

/* Standart desctop vertion*/
@media (min-width: 769px) {
    h1 {
        display: block;
        text-align: center;
        font-size: 3em;
        color:#005f99;
    }

    img.photo {
        width: 350px;
    }

    img.icon {
        width: 90px;
    }

    ul {
        padding: 15px;
        background-color: #12d112;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
        padding: 15px;
    }

    nav a {
        font-size: 1.9em;
        background-color: #005f99;
    }

    #About,
    #Experience,
    #Experience .job-dates,
    #Experience .job-title,
    #Projects,
    #Skills,
    #Connect {
        font-size: 1.3em;
        color: #ffe4b2;
    }

    img.photo {
        gap: 5px;
    }

    img.icon {
        margin-top: 0.2em;
    }
}